<template>
  <q-page class="flex flex-center">
    <div>
      <q-tabs @update:model-value="onTab" inline-label v-model="tab" class="tab-title q-pa-xs" no-caps indicator-color="transparent" active-bg-color="white">
        <q-tab class="tab-title-buttons q-mr-xs" name="deposit" label="Deposit" />
        <q-tab class="tab-title-buttons q-ml-xs" name="withdraw" label="Withdraw" />
      </q-tabs>

      <div>
        <q-tab-panels class="q-mt-lg box-deposit" v-model="tab" animated>
          <q-tab-panel name="deposit" style="padding: 0">
            <deposit-form :disable="isFormDisabled" v-if="stepDeposit === 1" />
            <deposit-progress v-if="stepDeposit === 2" />
          </q-tab-panel>
          <q-tab-panel name="withdraw" style="padding: 0">
            <!-- <login-partisia v-if="stepWithdraw === 1" class="q-mt-lg" /> -->
            <withdraw-partisia :disable="isFormDisabled" v-if="stepWithdraw === 2" />
            <withdraw-ethereum v-if="stepWithdraw === 3" />
          </q-tab-panel>
        </q-tab-panels>
      </div>
    </div>
  </q-page>
</template>

<script>
import { defineComponent, ref, computed, getCurrentInstance } from 'vue'
import { useStore } from 'vuex'
import { useQuasar } from 'quasar'
import PartisiaSdk from 'partisia-sdk'
import LoginPartisia from 'src/components/LoginPartisia.vue'
import DepositForm from 'src/components/DepositForm.vue'
import DepositProgress from 'src/components/DepositProgress.vue'
import WithdrawPartisia from 'src/components/WithdrawPartisia.vue'
import WithdrawEthereum from 'src/components/WithdrawEthereum.vue'
import { Big } from 'big.js'
import { getBlockchainInfo } from 'src/boot/preload'

export default defineComponent({
  name: 'PageIndex',
  components: {
    DepositForm,
    DepositProgress,
    // LoginPartisia,
    WithdrawPartisia,
    WithdrawEthereum,
  },
  setup() {
    const $q = useQuasar()
    const app = getCurrentInstance()
    const api = app.appContext.config.globalProperties.$api

    // $q.dark.set(true)
    const store = useStore()
    const txtAddressWithdraw = ref('')
    const txtAmountWithdraw = ref('')
    const isBroadcasting = ref(false)
    const stepDeposit = computed(() => store.getters.depositStepForm)
    const depositConfirmed = ref({})
    const withdrawResult = ref([])
    const stepWithdraw = computed(() => store.getters.withdrawStepForm)
    const account = ref(null)
    const blockchainInfo = computed(() => getBlockchainInfo(store.getters.blockchainId))

    return {
      isFormDisabled: computed(() => Object.keys(store.getters.partisiaProps).length === 0),
      onTab: (val) => {
        store.dispatch('onTabChange', val)
      },
      tab: ref(store.getters.tab),
      txtAddressWithdraw,
      txtAmountWithdraw,
      isBroadcasting,
      stepDeposit,
      stepWithdraw,
      depositConfirmed,
      withdrawResult,
      account,
    }
  },
})
</script>
<style lang="scss" scoped>
.tab-title {
  width: 550px;
  background-color: #eef1f9;
  border-radius: 10px;
}
.tab-title-buttons {
  border-radius: 4px;
  width: 225px;
  font-weight: 700;
}
</style>
