<template>
  <q-page class="flex flex-center">
    <div>
      <div v-if="!isLoggedIn">
        <login-metamask class="q-mt-lg" />
      </div>
      <div v-if="isLoggedIn">
        <div>update from nonce {{ oracleNonce }} to Partisia Nonce {{ epoch_nonce }}</div>
        <q-btn color="primary" :loading="isBroadcasting" label="Update Epoch" @click="onEthereumUpdate" />
        <pre v-if="updateResult">{{ JSON.stringify(updateResult, null, 2) }}</pre>
      </div>
      <div v-else></div>
    </div>
  </q-page>
</template>

<script>
import { ref, getCurrentInstance, onBeforeMount, computed } from 'vue'
import { useQuasar } from 'quasar'
import { useStore } from 'vuex'
import LoginMetamask from 'src/components/LoginMetamask.vue'
import axios from 'axios'
import assert from 'assert'
import { partisiaCrypto } from 'partisia-crypto'
import { getBlockchainInfo } from 'src/boot/preload'

export default {
  components: {
    LoginMetamask,
  },
  setup() {
    const $q = useQuasar()
    const app = getCurrentInstance()
    const api = app.appContext.config.globalProperties.$api

    const store = useStore()

    const contractProps = computed(() => store.getters.partisiaProps)
    const oracleNonce = contractProps.value.oracleNonce
    const epoch_nonce = ref(null)
    const contractStateByoc = ref(null)
    const contractStateOracle = ref(null)
    const isLoggedIn = ref(false)
    const isBroadcasting = ref(false)
    const updateResult = ref(null)

    // get the contractStates
    store.watch(
      (state, getters) => getters.partisiaProps,
      async (newValue, oldValue) => {
        try {
          alert()
          if (Object.keys(newValue).length === 0) return
          const blockchainInfo = getBlockchainInfo(store.getters.blockchainId)
          const ary = [
            // BYOC
            axios.get(`https://reader.partisiablockchain.com/shards/Shard0/blockchain/contracts/${blockchainInfo.MPC_CONTRACT_WITHDRAW}\?requireContractState\=true`),
            // largeOracle
            axios.get(process.env.LARGE_ORACLE_CONTRACT_STATE),
          ]

          const res = await Promise.all(ary)
          contractStateByoc.value = res[0].data
          contractStateOracle.value = res[1].data

          const largeOracleContract = contractStateByoc.value.serializedContract.largeOracleContract
          assert(largeOracleContract === '04f1ab744630e57fb9cfcd42e6ccbf386977680014', `mismatch largeOracle contract 04f1ab744630e57fb9cfcd42e6ccbf386977680014 vs ${largeOracleContract}`)
          epoch_nonce.value = Number(contractStateByoc.value.serializedContract.currentEpoch)

          // // /////////////
          // // For DEV testing
          // if (process.env.DEV) epoch_nonce.value = 0
          // // /////////////
          if (process.env.DEV) console.log(`oracleNonce ${oracleNonce} epoch_nonce ${epoch_nonce.value}`)
          assert(epoch_nonce.value - Number(oracleNonce) === 1, 'contract does not need updating')
          isLoggedIn.value = true
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        } finally {
        }
      },
      {
        deep: true,
        immediate: true,
      }
    )
    return {
      isLoggedIn,
      isBroadcasting,
      updateResult,
      contractProps,
      oracleNonce,
      epoch_nonce,
      contractStateByoc,
      contractStateOracle,
      onEthereumUpdate: async () => {
        // {
        //     "internalType": "uint64",
        //     "name": "newLargeOracleNonce",
        //     "type": "uint64"
        // },
        // {
        //     "internalType": "bytes",
        //     "name": "oracleKeys",
        //     "type": "bytes"
        // },
        // {
        //     "internalType": "bytes32",
        //     "name": "merkleTree",
        //     "type": "bytes32"
        // },
        // {
        //     "internalType": "bytes",
        //     "name": "signature",
        //     "type": "bytes"
        // }
        try {
          isBroadcasting.value = true

          const metaMaskAccount = store.getters.metamaskAccount
          const newLargeOracleNonce = epoch_nonce.value
          const aryOracles = contractStateByoc.value.serializedContract.epochs.find((x) => Number(x.key) === epoch_nonce.value).value.oracles.map((x) => x.key)
          const oracleKeys = aryOracles.map((x) => partisiaCrypto.wallet.getPublicKeyBuffer(Buffer.from(x, 'base64'), false).slice(1).toString('hex'))
          const merkleTree = contractStateByoc.value.serializedContract.epochs.find((x) => Number(x.key) === epoch_nonce.value - 1).value.merkleTree
          const signature = partisiaCrypto.contract_system
            .convertSignaturePartisiaToEthereum(contractStateOracle.value.serializedContract.signedMessages.find((x) => Number(x.key.nonce) === epoch_nonce.value - 1).value)
            .toString('hex')

          if (process.env.DEV) console.log(JSON.stringify({ newLargeOracleNonce, oracleKeys, merkleTree, signature }, null, 2))

          // send to Ethereum via metamask
          const update = await store.getters.contractPartisia.methods
            .update(newLargeOracleNonce, Buffer.from(oracleKeys.join(''), 'hex'), Buffer.from(merkleTree, 'hex'), Buffer.from(signature, 'hex'))
            .send({
              from: metaMaskAccount,
              maxPriorityFeePerGas: null,
              maxFeePerGas: null,
            })
          updateResult.value = { transactionHash: update.transactionHash, blockNumber: update.blockNumber }
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        } finally {
          isBroadcasting.value = false
        }
      },
    }
  },
}
</script>
