<template>
  <template v-if="step === 4">
    <div class="row full-width justify-center title q-pt-lg">Congratulations</div>
    <div class="row full-width justify-center subtitle q-pt-md">Your transaction has been successfully completed.</div>
  </template>
  <div v-else class="row full-width justify-center title q-pt-lg">Progress</div>
  <div class="q-px-md">
    <div class="fit row no-wrap justify-between q-pt-lg q-pl-lg q-pr-lg">
      <progress-bar :step="step" />
    </div>
  </div>
  <q-stepper
    v-model="step"
    vertical
    animated
    flat
    :bordered="false"
    :header-nav="false"
    inactive-color="grey-13"
    active-color="indigo-6"
    done-color="secondary"
    inactive-icon="las la-sync"
    done-icon="las la-check"
    active-icon="las la-sync"
  >
    <q-step :name="1" :done="step > 1" :title="`Deposit onto ${blockchainName} Blockchain`"> Waiting for {{ blockchainName }} Transaction to confirm. Requires 10 block confirmations. </q-step>
    <q-step :name="2" :done="step > 2" title="First confirmation"> <deposit-text /> </q-step>
    <q-step :name="3" :done="step > 3" title="Second confirmation"> <deposit-text /> </q-step>
  </q-stepper>
  <div v-if="step === 4" class="q-pa-lg">
    <transaction-block
      label01="Successfully deposited:"
      label02="Recipient’s address:"
      :val01="`${weiToEth(depositConfirmed.receipt.events.Deposit.returnValues.amount)} ${currency}`"
      :val02="depositConfirmed.receipt.events.Deposit.returnValues.destination.substr(2)"
    />
  </div>
  <div v-if="step === 4" class="full-width row justify-center q-mb-lg">
    <q-btn no-caps label="View on MPC Explorer" class="btn-bottom btn-color q-mr-md q-py-md" @click="onMpcExplorer" text-color="white" />
    <q-btn no-caps label="Another transaction" class="btn-bottom q-py-md" @click="onResetDeposit" />
  </div>
</template>

<script>
import { ref, watch, computed } from 'vue'
import { useStore } from 'vuex'
import { partisiaCrypto } from 'partisia-crypto'
import { openURL, useQuasar } from 'quasar'
import ProgressBar from './ProgressBar.vue'
import TransactionBlock from './TransactionBlock.vue'
import DepositText from './DepositText.vue'
import { api, BlockchainSelection, getBlockchainInfo } from 'src/boot/preload'
import { Big } from 'big.js'

export default {
  components: { ProgressBar, TransactionBlock, DepositText },
  emits: ['onResetDeposit'],
  setup(props, context) {
    const $q = useQuasar()
    const store = useStore()

    const step = computed(() => store.getters.depositStepProgress)
    const depositConfirmed = computed(() => store.getters.depositConfirmed)
    const blockchainInfo = computed(() => getBlockchainInfo(store.getters.blockchainId))
    const isPollingDeposit = ref(false)

    watch(
      () => depositConfirmed,
      (newValue, _old) => {
        if (process.env.DEV) console.log('depositConfirmed', JSON.stringify(newValue.value, null, 2))
        // required 10 confirmations
        if (newValue.value?.confNumber === blockchainInfo.value.DEPOSIT_CONFIRMATIONS) {
          // step of 2
          store.dispatch('setDepositStepProgress', 2)

          // set off the poller
          const trxHash = depositConfirmed.value.receipt.transactionHash
          if (process.env.DEV) console.log('trxHash', trxHash)
          if (!isPollingDeposit.value) {
            isPollingDeposit.value = true
            pollerDeposit(trxHash)
          }
        } else {
          // step of 1
          store.dispatch('setDepositStepProgress', 1)
        }
      },
      { deep: true }
    )

    const sleep = (ms) => new Promise((resolve) => setTimeout(resolve, ms))
    const pollerDeposit = async (trxHash) => {
      // one tx for init and 2 for signatures
      while (step.value < 4) {
        if (process.env.DEV) console.log('pollerDeposit', step.value)
        try {
          const { data } = await api.get(`byoc/deposit_pending/${trxHash}/${store.getters.blockchainId}`)
          if (data.length > 0) await store.dispatch('setDepositStepProgress', Math.min(4, data.length + 2))
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        } finally {
          await sleep(3000)
        }
      }
      console.log('break pollerWithdraw loop')
    }

    return {
      step,
      depositConfirmed,
      blockchainName: computed(() => Object.keys(BlockchainSelection).find((k) => BlockchainSelection[k] === store.getters.blockchainId)),
      currency: computed(() => blockchainInfo.value.SYMBOL),
      weiToEth: (v) => {
        return new Big(v).times(`1e-${blockchainInfo.value.DECIMALS}`).toString()
      },
      onResetDeposit() {
        store.dispatch('setDepositConfirmed', {})
        store.dispatch('setDepositStepProgress', 1)
        store.dispatch('setDepositStepForm', 1)
      },
      onMpcExplorer() {
        openURL(`${process.env.MPC_EXPLORER_ADDRESS}/${depositConfirmed.value.receipt.events.Deposit.returnValues.destination.substr(2)}`)
      },
    }
  },
}
</script>

<style lang="scss" scoped>
.title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 110%;
  height: 96px;
}
.subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #0b073f;
}
.btn-bottom {
  width: 240px;
}
</style>
