<template>
  <div>
    Cross checking information and validating signatures on Partisia Blockchain - read more about the highly secure, synchronized, MPC powered and collateralized
    <link-href caption="HERMES Bridge" link="https://medium.com/partisia-blockchain/hermes-collateralized-token-bridging-8200e4c0b24d" /> here
  </div>
</template>

<script>
import LinkHref from './LinkHref.vue'

export default {
  components: {
    LinkHref,
  },
  setup() {
    return {}
  },
}
</script>
