<template>
  <div class="q-pa-lg">
    <q-form @submit="onDeposit" class="q-gutter-md">
      <q-input
        :disable="disable"
        class="q-pt-lg"
        bg-color="grey-3"
        outlined
        v-model="frmDepositAmount"
        input-class="input-text-large"
        bottom-slots
        :placeholder="`Ex: ${weiToEth(contractProps.depositMinimum)}`"
        lazy-rules
        :rules="[(val) => isValidAmt(val)]"
      >
        <template v-slot:prepend>
          <q-avatar>
            <q-img v-if="blockchainId === 1" src="~assets/logo-eth.svg" width="20px" height="20px" no-spinner />
            <q-img v-else-if="blockchainId === 2" src="~assets/polygon-1068x1068.png" width="20px" height="20px" no-spinner />
            <!-- <img src="~assets/logo-eth.svg" /> -->
          </q-avatar>
        </template>

        <template v-slot:append>
          <div class="btn-append">
            <div class="fit row">
              <div class="col-8">
                {{ weiToEth(contractProps.depositMaximum) }}
              </div>
              <div class="col-4 text-left q-pl-sm q-pb-xs">Max</div>
              <div class="col-8">
                {{ weiToEth(contractProps.depositMinimum) }}
              </div>
              <div class="col-4 text-left q-pl-sm">Min</div>
            </div>
          </div>
        </template>

        <template v-slot:hint> Amount </template>
      </q-input>
      <q-input
        :disable="disable"
        class="q-pt-lg"
        bg-color="grey-3"
        outlined
        v-model="frmDepositAddress"
        input-class="input-text-large"
        bottom-slots
        placeholder="Ex: 006ab.....332f22"
        lazy-rules
        :rules="[(val) => isValidAddress(val)]"
      >
        <!-- <template v-slot:prepend>
          <q-avatar>
            <img src="~assets/logo-partisia.svg" />
          </q-avatar>
        </template> -->

        <template v-slot:hint> Partisia Address </template>
      </q-input>

      <div class="text-center q-pt-xl">
        <div v-if="isLoggedInMetamask">
          <q-btn type="submit" class="btn-color full-width" text-color="white" label="Deposit" :loading="isBroadcasting" no-caps />
          <div v-if="isRequireTwoTransactions" class="text-caption">*Note This will require two transactions. Please approve both.</div>
        </div>
        <login-metamask v-else />
      </div>
    </q-form>
  </div>
</template>

<script>
import { ref, computed } from 'vue'
import { useStore } from 'vuex'
import { useQuasar } from 'quasar'
import assert from 'assert'
import LoginMetamask from 'src/components/LoginMetamask.vue'
import { Big } from 'big.js'
import { BlockchainSelection, convertDec, getBlockchainInfo } from 'src/boot/preload'

export default {
  props: {
    disable: {
      type: Boolean,
      default: true,
    },
  },
  components: {
    LoginMetamask,
  },
  setup(props, context) {
    const $q = useQuasar()
    const store = useStore()

    const frmDepositAmount = ref('')
    const frmDepositAddress = ref('')
    const isBroadcasting = ref(false)
    const contractProps = computed(() => store.getters.partisiaProps)
    const blockchainInfo = computed(() => getBlockchainInfo(store.getters.blockchainId))
    const isRequireTwoTransactions = computed(() => store.getters.blockchainId === BlockchainSelection.POLYGON)

    const ethToWei = (eth) => {
      return new Big(eth || '0').times(`1e${blockchainInfo.value.DECIMALS}`).toString()
    }

    return {
      isLoggedInMetamask: computed(() => store.getters.metamaskAccount !== null),
      isBroadcasting,
      frmDepositAmount,
      frmDepositAddress,
      contractProps,
      isRequireTwoTransactions,
      depositMinimumFormatted: computed(() => convertDec(contractProps.value.depositMinimum || 0, { decimals: blockchainInfo.value.DECIMALS })),
      blockchainId: computed(() => store.getters.blockchainId),
      blockchainName: computed(() => Object.keys(BlockchainSelection).find((k) => BlockchainSelection[k] === store.getters.blockchainId)),
      weiToEth: (wei) => {
        return new Big(wei || '0').times(`1e-${blockchainInfo.value.DECIMALS}`).toString()
      },
      isValidAddress: (val) => {
        try {
          // Validate Partisia Address
          assert(val && val.length > 0, 'Field is required')
          assert(val.length === 42, 'Partisia Address must be hex string 42 long')
          const b = Buffer.from(val, 'hex')
          assert(b.length === 21, 'Partisia Address must be hex string')
          assert(b[0] === 0, 'Address Prefix must be 00')
          return true
        } catch (error) {
          return error.message
        }
      },
      isValidAmt: (val) => {
        try {
          // Validate ETH Amount
          assert(val && val.length > 0, 'Field is required')
          const wei = ethToWei(frmDepositAmount.value.trim())
          console.log('wei', wei)
          console.log('depositMaximum', contractProps.value.depositMaximum)
          assert(Number(wei) >= Number(contractProps.value.depositMinimum), 'Amount too low')
          assert(Number(wei) <= Number(contractProps.value.depositMaximum), 'Amount too high')

          return true
        } catch (error) {
          return error.message
        }
      },
      onDeposit: async () => {
        try {
          isBroadcasting.value = true
          context.emit('onDepositConfirmed', {})

          const address = frmDepositAddress.value.trim()
          const wei = ethToWei(frmDepositAmount.value.trim())

          // approve spending amount
          const approveErc20TokenSpend = () => {
            return new Promise((resolve, reject) => {
              store.getters.contractUsdc.methods
                .approve(blockchainInfo.value.ADDRESS_BYOC, wei)
                .send({
                  from: store.getters.metamaskAccount,
                  data: store.getters.contractPartisia.methods.deposit(Buffer.from(address, 'hex'), wei),
                  maxPriorityFeePerGas: null,
                  maxFeePerGas: null,
                })
                .on('confirmation', (confNumber, receipt, latestBlockHash) => {
                  resolve({ confNumber, receipt, latestBlockHash })
                })
                .catch(reject)
            })
          }
          const fnDeposit = async (cb) => {
            switch (store.getters.blockchainId) {
              case BlockchainSelection.ETHEREUM:
                return cb(
                  store.getters.contractPartisia.methods.deposit(Buffer.from(address, 'hex')).send({
                    from: store.getters.metamaskAccount,
                    value: wei,
                    maxPriorityFeePerGas: null,
                    maxFeePerGas: null,
                    chainId: blockchainInfo.value.NETWORK_ID,
                  })
                )

              case BlockchainSelection.POLYGON:
                while (new Big(await store.getters.contractUsdc.methods.allowance(store.getters.metamaskAccount, blockchainInfo.value.ADDRESS_BYOC).call()).lt(wei)) {
                  await approveErc20TokenSpend()
                }
                return cb(
                  store.getters.contractPartisia.methods.deposit(Buffer.from(address, 'hex'), wei).send({
                    from: store.getters.metamaskAccount,
                    value: 0,
                    maxPriorityFeePerGas: null,
                    maxFeePerGas: null,
                    chainId: blockchainInfo.value.NETWORK_ID,
                    // gasLimit: web3.utils.toHex(21000),
                    // gasPrice: web3.utils.toHex(1 * 1e9), // 41 Gwei
                  })
                )
              // const transactionParams = {
              //   from: store.getters.metamaskAccount,
              //   // to: addressUSDC,
              //   to: blockchainInfo.value.ADDRESS_BYOC,
              //   value: 0,
              //   // value: wei,
              //   data: store.getters.contractPartisia.methods.deposit(Buffer.from(address, 'hex'), wei).encodeABI(),
              //   // data: store.getters.contractUsdc.methods.transfer(blockchainInfo.value.ADDRESS_BYOC, wei).encodeABI(),
              //   maxPriorityFeePerGas: null,
              //   maxFeePerGas: null,
              // }
              // resolve(window.web3.eth.sendTransaction(transactionParams))

              default:
                throw new Error('Unimplemented Blockchain')
            }
          }
          // https://web3js.readthedocs.io/en/v1.7.3/callbacks-promises-events.html
          const ethPending = () => {
            //  https://docs.metamask.io/guide/sending-transactions.html#example
            return new Promise(async (resolve, reject) => {
              try {
                await fnDeposit((deposit) => {
                  deposit
                    .once('sending', (payload) => {
                      if (process.env.DEV) console.log('sending', JSON.stringify(payload, null, 2))
                    })
                    .once('sent', (payload) => {
                      if (process.env.DEV) console.log('sent', JSON.stringify(payload, null, 2))
                    })
                    .once('transactionHash', (hash) => {
                      if (process.env.DEV) console.log('transactionHash', hash)
                    })
                    .once('receipt', async (receipt) => {
                      if (process.env.DEV) console.log('receipt', JSON.stringify(receipt, null, 2))
                      await store.dispatch('setDepositStepForm', 2)
                      store.dispatch('setDepositConfirmed', { confNumber: 0, receipt })
                    })
                    .on('confirmation', (confNumber, receipt, latestBlockHash) => {
                      if (process.env.DEV) console.log('confirmation', JSON.stringify({ confNumber, receipt, latestBlockHash }, null, 2))
                      store.dispatch('setDepositConfirmed', { confNumber, receipt })
                    })
                    .on('error', (error) => {
                      reject(error)
                    })
                    .then((receipt) => {
                      // will be fired once the receipt is mined
                      if (process.env.DEV) console.log('receipt', JSON.stringify(receipt, null, 2))
                      // context.emit('onDepositConfirmed', true)
                      resolve(receipt)
                    })
                    .catch(reject)
                })
              } catch (error) {
                reject(error)
              }
            })
          }
          await ethPending()
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        } finally {
          isBroadcasting.value = false
        }
      },
    }
  },
}
</script>

<style lang="scss" scoped></style>
