<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card class="q-dialog-plugin text-black popup">
      <q-card-section v-if="!isMobile" class="">
        <q-btn class="full-width" flat no-caps @click="onMetaMask">
          <div class="full-width">
            <img src="~assets/metamask.svg" width="50" />
          </div>
          <br />
          <span class="text-h6">MetaMask</span>
          <br />
          <span class="text-subcaption" style="font-size: 13px"> Connect to your metamask wallet </span>
        </q-btn>
      </q-card-section>

      <q-separator color="grey-13" />

      <q-card-section class="">
        <q-btn class="full-width" flat no-caps @click="onWalletConnect">
          <div class="full-width">
            <img src="~assets/walletconnect.svg" width="50" />
          </div>
          <br />
          <span class="text-h6">WalletConnect</span>
          <br />
          <span class="text-subcaption" style="font-size: 13px"> Scan with Wallet Connect </span>
        </q-btn>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import { ref, getCurrentInstance } from 'vue'
import { useDialogPluginComponent, useQuasar } from 'quasar'
import { useStore } from 'vuex'
import Web3 from 'web3'
import WalletConnectProvider from '@walletconnect/web3-provider'
import useBreakpoints from 'src/boot/useBreakpoints'
import DialogPartisiaPicker from 'src/components/DialogPartisiaPicker.vue'

export default {
  emits: [...useDialogPluginComponent.emits],
  setup(props, context) {
    const $q = useQuasar()
    const store = useStore()
    const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } = useDialogPluginComponent()
    const { isMobile } = useBreakpoints()

    return {
      dialogRef,
      isMobile,
      onDialogHide,
      onClose: () => {
        onDialogCancel()
      },
      onWalletConnect: async () => {
        //  Create WalletConnect Provider
        const provider = new WalletConnectProvider({
          infuraId: '18677a1b23ac44bfb46c62cb71c99273',
          // This doesnt seem to do anything
          // mobileLinks: ['rainbow', 'metamask', 'argent', 'trust', 'imtoken', 'pillar'],
          // desktopLinks: ['ledger'],
        })

        // Enable session (triggers QR Code modal)
        await provider.enable()

        window.web3 = new Web3(provider)

        context.emit('ok')
        context.emit('hide')
      },
      onMetaMask: async () => {
        if (window.ethereum) {
          window.web3 = new Web3(window.ethereum)
          // await window.ethereum.enable()
          await window.web3.eth.requestAccounts()
        } else if (window.web3) {
          window.web3 = new Web3(window.web3.currentProvider)
        } else {
          window.alert('Non-Ethereum browser detected. You should consider trying MetaMask!')
          return false
        }

        context.emit('ok')
        context.emit('hide')
      },
    }
  },
}
</script>

<style lang="scss" scoped>
.popup {
  background-color: #fff;
  width: 300px;
}
</style>
