<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card class="q-dialog-plugin text-black popup">
      <q-card-section>
        <div class="blockchain-title text-center">Connect Partisia Wallet</div>
      </q-card-section>
      <q-card-section class="">
        <q-chip square clickable class="full-width blockchain-chip q-mt-md" @click="onPartisia">
          <q-avatar>
            <q-img src="~assets/logo-partisia.svg" width="20px" height="20px" no-spinner />
          </q-avatar>
          <div>Partisia</div>
        </q-chip>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import { ref, getCurrentInstance, computed } from 'vue'
import { useDialogPluginComponent, useQuasar } from 'quasar'
import { useStore } from 'vuex'
import useBreakpoints from 'src/boot/useBreakpoints'
import { BlockchainSelection, getBlockchainInfo } from 'src/boot/preload'
import DialogWalletPicker from 'src/components/DialogWalletPicker.vue'
import PartisiaSdk from 'partisia-sdk'
import { Big } from 'big.js'

export default {
  emits: [...useDialogPluginComponent.emits],
  setup(props, context) {
    const $q = useQuasar()
    const store = useStore()
    const app = getCurrentInstance()
    const api = app.appContext.config.globalProperties.$api
    const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } = useDialogPluginComponent()
    const { isMobile } = useBreakpoints()
    const blockchainInfo = computed(() => getBlockchainInfo(store.getters.blockchainId))

    const dialogPendingWithdraws = async (aryItems) => {
      return new Promise((resolve) => {
        $q.dialog({
          title: 'Pending Withdraws',
          seamless: true,
          message: `You have ${aryItems.length} Withdraws Pending. Please complete pending withdraws before initiating a new one`,
          position: 'standard',
          options: {
            type: 'radio',
            model: aryItems[0].value,
            inline: false,
            items: aryItems,
          },
          cancel: true,
          persistent: true,
        })
          .onOk(async (v) => {
            try {
              resolve(v)
            } catch (msg) {
              resolve(undefined)
            }
          })
          .onCancel(() => {
            resolve(undefined)
          })
          .onDismiss(() => {
            resolve(undefined)
          })
      })
    }

    return {
      dialogRef,
      isMobile,
      onDialogHide,
      onClose: () => {
        onDialogCancel()
      },
      onPartisia: async () => {
        try {
          const sdk = new PartisiaSdk()
          await sdk.connect({
            chainId: process.env.CHAIN_ID,
            permissions: ['sign'],
            dappName: process.env.DAPP_NAME,
          })
          await store.dispatch('sdkConnect', { connection: sdk.connection, seed: sdk.seed })

          // only if metamask is logged in, otherwise it messes up
          if (store.getters.metamaskAccount !== null) {
            // get account balances
            const address = store.getters.sdkClient.connection.account.address

            // check if there are any pending withdraws and take it to that
            const { data } = await api.get(`byoc/withdraw_pending/${address}/${store.getters.blockchainId}`)

            // get pending withdraws; withdraws initiated but not completed in ETH
            const aryWithdrawsPending = []
            const aryIds = data.map((x) => x.id).filter((val, idx, ary) => ary.indexOf(val) === idx)
            for (const id of aryIds) {
              const pending = data.filter((d) => d.id === id)
              if (pending.length >= 3) {
                aryWithdrawsPending.push({
                  frmWithdrawAmount: new Big(pending[0].amount).times(`1e-${blockchainInfo.value.DECIMALS}`).toString(),
                  frmWithdrawEthAddress: pending[0].eth_address,
                  withdrawParisiaHash: pending.find((p) => p.signature == null).transaction_hash,
                  withdrawResult: [...pending],
                })
              }
            }

            let setWithdrawStep = 2
            if (aryWithdrawsPending.length > 0) {
              const idxWithdraw = await dialogPendingWithdraws(
                aryWithdrawsPending
                  .sort((a, b) => {
                    const e1 = a.withdrawResult[0].epoch_nonce
                    const e2 = b.withdrawResult[0].epoch_nonce
                    const w1 = a.withdrawResult[0].withdraw_nonce
                    const w2 = b.withdrawResult[0].withdraw_nonce
                    if (e1 == e2) {
                      return w1 < w2 ? -1 : 1
                    } else {
                      return e1 < e2 ? -1 : 1
                    }
                  })
                  .map((w, idx) => {
                    return { label: `${w.frmWithdrawAmount} ${blockchainInfo.value.SYMBOL} to 0x${w.frmWithdrawEthAddress.substr(0, 4)}...${w.frmWithdrawEthAddress.substr(36)}`, value: idx }
                  })
              )
              if (idxWithdraw != undefined) {
                const withdrawPending = aryWithdrawsPending[idxWithdraw]
                await store.dispatch('setWithdrawAmount', withdrawPending.frmWithdrawAmount)
                await store.dispatch('setWithdrawEthAddress', withdrawPending.frmWithdrawEthAddress)
                await store.dispatch('setWithdrawParisiaHash', withdrawPending.withdrawParisiaHash)
                if (process.env.DEV) console.log('withdrawPending.withdrawResult', withdrawPending.withdrawResult)
                await store.dispatch('setWithdrawResult', withdrawPending.withdrawResult)

                await store.dispatch('setWithdrawStep', setWithdrawStep++)
              }
            }
            await store.dispatch('setWithdrawStep', setWithdrawStep++)
          }
          context.emit('ok')
          context.emit('hide')
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        }
      },
    }
  },
}
</script>

<style lang="scss" scoped>
.popup {
  background-color: #fff;
  width: 300px;
}
.blockchain-title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  color: #0b073f;
}
.blockchain-chip {
  width: 136px;
  height: 26px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  text-align: center;
  color: #9d9dc4;
  padding: 26px;
}
</style>
