<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card class="q-dialog-plugin text-black popup">
      <q-card-section>
        <div class="blockchain-title text-center">Select a Chain</div>
      </q-card-section>
      <q-card-section class="">
        <q-chip square clickable class="full-width blockchain-chip q-mt-md" @click="onEthereum">
          <q-avatar>
            <q-img src="~assets/logo-eth.svg" width="20px" height="20px" no-spinner />
          </q-avatar>
          <div>Ethereum (ETH)</div>
        </q-chip>

        <q-chip v-if="!isTestnet" square clickable class="full-width blockchain-chip q-mt-sm" @click="onPolygon">
          <q-avatar>
            <q-img src="~assets/polygon-1068x1068.png" width="20px" height="20px" no-spinner />
          </q-avatar>
          <div>Polygon (USDC)</div>
        </q-chip>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import { ref, getCurrentInstance } from 'vue'
import { useDialogPluginComponent, useQuasar } from 'quasar'
import { useStore } from 'vuex'
import useBreakpoints from 'src/boot/useBreakpoints'
import { BlockchainSelection } from 'src/boot/preload'
import DialogWalletPicker from 'src/components/DialogWalletPicker.vue'

export default {
  emits: [...useDialogPluginComponent.emits],
  setup(props, context) {
    const $q = useQuasar()
    const store = useStore()
    const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } = useDialogPluginComponent()
    const { isMobile } = useBreakpoints()

    return {
      dialogRef,
      isMobile,
      onDialogHide,
      isTestnet: process.env.TESTNET,
      onClose: () => {
        onDialogCancel()
      },
      onEthereum: async () => {
        await store.dispatch('onBlockchain', BlockchainSelection.ETHEREUM)

        context.emit('ok')
        context.emit('hide')
      },
      onPolygon: async () => {
        await store.dispatch('onBlockchain', BlockchainSelection.POLYGON)

        context.emit('ok')
        context.emit('hide')
      },
    }
  },
}
</script>

<style lang="scss" scoped>
.popup {
  background-color: #fff;
  width: 360px;
}
.blockchain-title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  color: #0b073f;
}
.blockchain-chip {
  width: 136px;
  height: 26px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  text-align: center;
  color: #9d9dc4;
  padding: 26px;
}
</style>
