<template>
  <template v-if="sdkClient === null">
    <q-btn v-if="!isHeader" :loading="isConnecting" class="full-width" outline color="grey-14" no-caps label="Connect Partisia" @click="onConnectPartisia" />
    <q-btn v-else :loading="isConnecting" class="full-width btn-color" no-caps label="Connect Partisia" @click="onConnectPartisia" />
  </template>
  <div v-else class="truncate-chip-labels">
    <q-chip square :ripple="false">
      <q-avatar>
        <q-img src="~assets/logo-partisia.svg" width="20px" height="20px" no-spinner />
      </q-avatar>
      <div class="ellipsis">
        {{ sdkClient.connection.account.address }}
      </div>
    </q-chip>
  </div>
</template>

<script>
import { ref, getCurrentInstance, computed } from 'vue'
import { useStore } from 'vuex'
import { useQuasar } from 'quasar'
import DialogPartisiaPicker from 'src/components/DialogPartisiaPicker.vue'
import DialogWalletPicker from 'src/components/DialogWalletPicker.vue'
import { getBlockchainInfo } from 'src/boot/preload'
import { Big } from 'big.js'

export default {
  props: {
    isHeader: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, context) {
    const $q = useQuasar()
    const store = useStore()
    const app = getCurrentInstance()
    const api = app.appContext.config.globalProperties.$api
    const isConnecting = ref(false)
    const blockchainInfo = computed(() => getBlockchainInfo(store.getters.blockchainId))

    return {
      isConnecting,
      sdkClient: computed(() => store.getters.sdkClient),
      onConnectPartisia: async () => {
        try {
          isConnecting.value = true
          const loadPartisia = async () => {
            return new Promise((resolve, reject) => {
              $q.dialog({
                persistent: false,
                component: DialogPartisiaPicker,
                componentProps: {},
              })
                .onOk((v) => {
                  console.log('OK', v)
                  resolve(true)
                })
                .onCancel(() => {
                  resolve(false)
                })
            })
          }
          await loadPartisia()
        } catch (error) {
          $q.notify({ type: 'negative', position: 'top', message: error.message })
        } finally {
          isConnecting.value = false
        }
      },
    }
  },
}
</script>
<style lang="scss" scoped>
.row-1 {
  border-radius: 4px;
  width: 96px;
  height: 96px;

  text-align: center;
  vertical-align: middle;
}
.row-2 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 110%;
  /* or 46px */

  text-align: center;
  color: #000000;
}
</style>
