<template>
  <template v-if="metamaskAccount === null">
    <q-btn v-if="!isHeader" :loading="isLoading" class="full-width" outline color="grey-14" no-caps label="Connect a wallet" @click="onLogin" />
    <q-btn v-else :loading="isLoading" class="full-width btn-color" no-caps label="Connect a wallet" @click="onLogin" />
  </template>
  <div v-else class="truncate-chip-labels">
    <q-chip square :ripple="false">
      <q-avatar>
        <q-img v-if="blockchainId === 1" src="~assets/logo-eth.svg" width="20px" height="20px" no-spinner />
        <q-img v-else-if="blockchainId === 2" src="~assets/polygon-1068x1068.png" width="20px" height="20px" no-spinner />
      </q-avatar>
      <div class="ellipsis">
        {{ metamaskAccount }}
      </div>
    </q-chip>
  </div>
</template>

<script>
import { computed, ref } from 'vue'
import { useStore } from 'vuex'
import { useQuasar } from 'quasar'
import assert from 'assert'
import DialogBlockchainPicker from 'src/components/DialogBlockchainPicker.vue'
import DialogWalletPicker from 'src/components/DialogWalletPicker.vue'
import DialogPartisiaPicker from 'src/components/DialogPartisiaPicker.vue'
import { BlockchainSelection, getBlockchainInfo } from 'src/boot/preload'
import { toHex } from 'web3-utils'
import PolygonUSDC from 'src/boot/eth_abi/abi_usdc.json'

export default {
  props: {
    isHeader: {
      type: Boolean,
      default: false,
    },
  },

  setup(props, context) {
    const $q = useQuasar()
    const store = useStore()
    const isLoading = ref(false)
    const blockchainId = computed(() => store.getters.blockchainId)

    const metamaskAccount = computed(() => store.getters.metamaskAccount)
    const loadPartisia = async () => {
      const isWithdraw = store.getters.tab === 'withdraw'
      const isLoggedInPartisia = store.getters.sdkClient !== null

      if (isWithdraw && !isLoggedInPartisia) {
        return new Promise((resolve, reject) => {
          $q.dialog({
            persistent: false,
            component: DialogPartisiaPicker,
            componentProps: {},
          })
            .onOk((v) => {
              console.log('OK', v)
              resolve(true)
            })
            .onCancel(() => {
              console.log('cancel loadPartisia')
              resolve(false)
            })
        })
      } else {
        return true
      }
    }

    const loadWeb3 = async () => {
      return new Promise((resolve, reject) => {
        $q.dialog({
          persistent: false,
          component: DialogWalletPicker,
          componentProps: {},
        })
          .onOk(async (v) => {
            console.log('OK', v)

            resolve(true)
          })
          .onCancel(() => {
            resolve(false)
          })
      })
    }

    return {
      isLoading,
      blockchainId,
      metamaskAccount,
      onLogin: async () => {
        try {
          isLoading.value = true
          const loadBlockchain = async () => {
            return new Promise((resolve, reject) => {
              $q.dialog({
                persistent: false,
                component: DialogBlockchainPicker,
                componentProps: {},
              })
                .onOk(async (v) => {
                  console.log('OK DialogBlockchainPicker', v)

                  resolve(true)
                })
                .onCancel(() => {
                  console.log('Cancel loadWeb3')
                  resolve(false)
                })
            })
          }
          if (await loadBlockchain()) {
            if (await loadWeb3()) {
              const web3 = window.web3
              if (web3?.eth?.net) {
                const switchNetwork = async (chainId) => {
                  const currentChainId = await web3.eth.net.getId()

                  if (currentChainId !== chainId) {
                    try {
                      await web3.currentProvider.request({
                        method: 'wallet_switchEthereumChain',
                        params: [{ chainId: toHex(chainId) }],
                      })
                    } catch (switchError) {
                      // This error code indicates that the chain has not been added to MetaMask.
                      if (switchError.code === 4902) {
                        const blockchainName = Object.keys(BlockchainSelection).find((k) => BlockchainSelection[k] === store.getters.blockchainId)
                        throw new Error(`You must add Blockchain Network ${blockchainName} before you can proceed`)
                      } else {
                        throw new Error(switchError.message)
                      }
                    }
                  }
                }

                const blockchainInfo = getBlockchainInfo(blockchainId.value)
                const networkId = blockchainInfo.NETWORK_ID
                await switchNetwork(networkId)
                console.log('networkId', networkId)

                const networkIdMainnet = blockchainInfo.NETWORK_ID
                const strBlockchain = Object.keys(BlockchainSelection).find((k) => BlockchainSelection[k] === blockchainId.value)
                assert(networkId === networkIdMainnet, `Please change your Network to ${strBlockchain} Mainnet`)
                const networkData = {
                  events: {},
                  links: {},
                  address: blockchainInfo.ADDRESS_BYOC,
                  transactionHash: blockchainInfo.TRANSACTION_HASH,
                }
                if (networkData) {
                  const abi = blockchainInfo.ABI
                  const address = networkData.address

                  const contract = new web3.eth.Contract(abi, address)
                  // https://dapp-world.com/smartbook/get-transaction-properties-using-web3--3oQ5
                  web3.eth.transactionBlockTimeout = 10000
                  web3.eth.transactionConfirmationBlocks = blockchainInfo.DEPOSIT_CONFIRMATIONS
                  web3.eth.transactionPollingTimeout = 86400 // 24 hours

                  await store.dispatch('setMetamaskAccount', (await web3.eth.getAccounts())[0])
                  await store.dispatch('setContractPartisia', contract)
                  // this is the Polygon USDC contract and ABI. It is fixed
                  const addressUSDC = '0x2791bca1f2de4661ed88a30c99a7a9449aa84174'
                  await store.dispatch('setContractUSDC', new web3.eth.Contract(PolygonUSDC, addressUSDC))
                } else {
                  $q.notify({ type: 'negative', message: 'NO_CONTRACT' })
                  await store.dispatch('loadError', 'NO_CONTRACT')
                }
              }
              await loadPartisia()
            }
          }
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        } finally {
          isLoading.value = false
        }
      },
    }
  },
}
</script>
<style lang="scss" scoped></style>
