<template>
  <div class="progress-bar" v-bind:class="{ 'progress-bar-green': step >= 1 }" v-bind:style="{ opacity: step === 1 ? Math.abs(100 - counter) / 100 : 1 }" />
  <div class="progress-bar" v-bind:class="{ 'progress-bar-green': step >= 2 }" v-bind:style="{ opacity: step === 2 ? Math.abs(100 - counter) / 100 : 1 }" />
  <div class="progress-bar" v-bind:class="{ 'progress-bar-green': step >= 3 }" v-bind:style="{ opacity: step === 3 ? Math.abs(100 - counter) / 100 : 1 }" />
</template>

<script>
import { ref, onBeforeUnmount } from 'vue'
export default {
  props: {
    step: {
      type: Number,
      required: true,
    },
  },
  setup(props) {
    const counter = ref(0)
    const interval = setInterval(() => {
      counter.value += 5
      if (counter.value === 200) counter.value = 0
    }, 75)

    onBeforeUnmount(() => {
      clearInterval(interval)
    })

    return {
      counter,
    }
  },
}
</script>
<style lang="scss" scoped>
.progress-bar:nth-of-type(1) {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.progress-bar:nth-of-type(3) {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.progress-bar {
  width: 151.33px;
  height: 12px;
  left: calc(50% - 151.33px / 2 + 0px);
  top: calc(50% - 12px / 2);
  background: #eef1f9;

  transition: background-color 1s linear;
  -moz-transition: background-color 1s linear;
  -webkit-transition: background-color 1s linear;
  -ms-transition: background-color 1s linear;
}

.progress-bar-green {
  background: linear-gradient(85.27deg, #4da68b 0%, #4ddba8 296.95%);
}
</style>
