<template>
  <div class="box q-pa-sm">
    <div class="row full-width">
      <div class="col-auto q-ml-sm">
        {{ label01 }}
      </div>
      <div class="col q-ml-sm">
        <b>{{ val01 }}</b>
      </div>
    </div>
    <div class="row full-width q-pt-xs">
      <div class="col-auto q-ml-sm">
        {{ label02 }}
      </div>
      <div class="col q-ml-sm ellipsis">
        <b>{{ val02 }}</b>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    label01: {
      type: String,
      required: true,
    },
    label02: {
      type: String,
      required: true,
    },
    val01: {
      type: String,
      required: true,
    },
    val02: {
      type: String,
      required: true,
    },
  },
  setup() {
    return {}
  },
}
</script>
<style lang="scss" scoped>
.box {
  background: #ffffff;
  border: 2px solid #eef1f9;
  box-sizing: border-box;
  border-radius: 6px;
}
</style>
