<template>
  <div class="q-mt-lg title">Claim your Funds</div>
  <div class="q-mt-md subtitle">Your funds have been released from the Partisia Blockchain.</div>
  <div class="q-px-md">
    <div class="fit row no-wrap justify-between q-pt-lg q-pl-lg q-pr-lg">
      <progress-bar :step="step" />
    </div>
    <q-stepper
      v-model="step"
      vertical
      animated
      flat
      :bordered="false"
      :header-nav="false"
      inactive-color="grey-13"
      active-color="indigo-6"
      done-color="secondary"
      inactive-icon="las la-sync"
      done-icon="las la-check"
      active-icon="las la-sync"
    >
      <q-step :name="1" :done="step > 1" title="Withdraw initiated"> Waiting for Partisia Blockchain oracle nodes to release your Ether funds. Estimated waiting time — 5 minutes. </q-step>
      <q-step :name="2" :done="step > 2" title="First node approval"> Waiting for Partisia Blockchain nodes to verify (5-10 minutes) </q-step>
      <q-step :name="3" :done="step > 3" title="Second node approval"> Waiting for Partisia Blockchain nodes to verify (5-10 minutes) </q-step>
    </q-stepper>

    <div v-if="step === 4 && !withdrawEthereum">
      <div class="claim-funds">Click below to claim you funds on the {{ blockchainName }} blockchain.</div>
      <div class="q-px-xl q-mt-md full-width row no-wrap justify-center">
        <q-btn :loading="isBroadcasting" class="full-width q-px-lg btn-color" text-color="white" label="Claim" no-caps @click="onWithdrawEthereum" />
      </div>
    </div>
    <div v-if="withdrawEthereum" class="q-pa-lg">
      <transaction-block label01="Successfully claimed:" label02="Recipient’s address:" :val01="`${withdrawEthereum.amount} ${currency}`" :val02="withdrawEthereum.address" />
      <div class="full-width row justify-between q-mt-md">
        <q-btn no-caps label="View on Chain" class="btn-bottom btn-color q-mr-md q-py-md" @click="onEthExplorer" text-color="white" />
        <q-btn no-caps label="Another transaction" class="btn-bottom q-py-md" @click="onResetWithdraw" />
      </div>
    </div>
  </div>
</template>

<script>
import { ref, computed } from 'vue'
import { useStore } from 'vuex'
import { openURL, useQuasar } from 'quasar'
import ProgressBar from './ProgressBar.vue'
import axios from 'axios'
import { api, BlockchainSelection, computeWithdrawMinusFee, getBlockchainInfo } from 'src/boot/preload'
import { partisiaCrypto } from 'partisia-crypto'
import assert from 'assert'
import TransactionBlock from './TransactionBlock.vue'
import { Big } from 'big.js'

export default {
  // props: {
  //   stepProgress: {
  //     type: Number,
  //     required: true,
  //   },
  // },
  emits: [],
  components: {
    ProgressBar,
    TransactionBlock,
  },
  setup(props, context) {
    const $q = useQuasar()
    const store = useStore()

    const withdrawEthereum = ref(null)
    const isBroadcasting = ref(false)
    const withdrawResult = computed(() => store.getters.withdrawResult)
    const contractProps = computed(() => store.getters.partisiaProps)
    const step = computed(() => Math.min(withdrawResult.value.length + 1, 4))
    const blockchainInfo = computed(() => getBlockchainInfo(store.getters.blockchainId))

    const sleep = (ms) => new Promise((resolve) => setTimeout(resolve, ms))

    const pollerWithdraw = async (trxHash) => {
      // one tx for init and 2 for signatures
      while (withdrawResult.value.length <= 3) {
        try {
          const { data } = await api.get(`byoc/tx_hash/${trxHash}`)
          await store.dispatch('setWithdrawResult', [...data])
          if (step.value != withdrawResult.value.length + 1) {
            if (process.env.DEV) console.log('step increase', JSON.stringify(withdrawResult.value, null, 2))
          }
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        } finally {
          await sleep(3000)
        }
      }
      console.log('break pollerWithdraw loop')
    }
    if (step.value === 1) {
      pollerWithdraw(store.getters.withdrawParisiaHash)
    }
    return {
      step,
      isBroadcasting,
      computeWithdrawMinusFee,
      withdrawEthereum,
      blockchainId: computed(() => store.getters.blockchainId),
      blockchainName: computed(() => Object.keys(BlockchainSelection).find((k) => BlockchainSelection[k] === store.getters.blockchainId)),
      currency: computed(() => blockchainInfo.value.SYMBOL),
      onEthExplorer() {
        openURL(`${blockchainInfo.value.EXPLORER_TRX}${withdrawEthereum.value.transactionHash}`)
      },
      onResetWithdraw: async () => {
        await store.dispatch('setWithdrawStep', 2)
        await store.dispatch('setWithdrawResult', [])
      },
      onWithdrawEthereum: async () => {
        try {
          isBroadcasting.value = true
          const metaMaskAccount = store.getters.metamaskAccount

          const { epoch_nonce, withdraw_nonce, eth_address, amount } = withdrawResult.value[0]
          const withdrawStateUrl = process.env.WITHDRAW_STATE_ENDPOINT.replace('{0}', getBlockchainInfo(store.getters.blockchainId).MPC_CONTRACT_WITHDRAW)
          const { data } = await axios.get(withdrawStateUrl)
          const withdrawState = data.serializedContract.epochs.find((e) => Number(e.key) == epoch_nonce).value.withdrawals.find((w) => Number(w.key) === withdraw_nonce).value

          assert(withdrawState, `Cannot find withdrawState for key ${withdraw_nonce}. This should never happen by this point. So try again`)

          // derive destination, adjusted amount, bitmask, and signature all needed for the final ethereum transaction
          // just in case make sure it is prefixed with 0x
          const destination = `0x${eth_address.replace('0x', '')}`
          // const amount = withdrawState.value.amount // toWei('0.072827', 'ETH')
          const arySignatures = withdrawResult.value.map((v) => v.signature).filter((v) => v !== null)
          // console.log('withdrawState.signatures', withdrawState.signatures)
          const { bitmask, signatures } = partisiaCrypto.contract_system.Byoc.byocEthereumWithdrawBridge(withdrawState.signatures)

          console.log(JSON.stringify({ withdraw_nonce, destination, amount, bitmask, signatures }, null, 2))

          const amtWithdraw = computeWithdrawMinusFee(amount)

          let withdraw
          // it is not correct to check the epoch nonce against partisia, it needs to be checked against ethereum
          // if (Number(epoch_nonce) === Number(data.serializedContract.currentEpoch)) {
          // this is a guess. Need to match the epoch_nonce with the ETH epochNonce
          // https://gitlab.com/partisiablockchain/governance/byoc-contract-eth/-/blob/main/contracts/WithdrawAndDeposit.sol#L120 -> epochs[oracleNonce] = merkleTree;
          if (Number(epoch_nonce) === Number(contractProps.value.oracleNonce)) {
            // from same epoch
            if (process.env.DEV) console.log('withdraw same epoch')
            withdraw = await store.getters.contractPartisia.methods.withdraw(withdraw_nonce, destination, amtWithdraw, bitmask, Buffer.from(signatures, 'hex')).send({
              from: metaMaskAccount,
              maxPriorityFeePerGas: null,
              maxFeePerGas: null,
            })
          } else if (Number(contractProps.value.oracleNonce) - Number(epoch_nonce) > 0) {
            // from past epoch
            const withdraws = data.serializedContract.epochs.find((e) => Number(e.key) == epoch_nonce).value.withdrawals
            const merkleProof = partisiaCrypto.contract_system.Byoc.byocEthereumWithdrawMerkleProof({ withdrawalNonce: withdraw_nonce, withdraws })
            if (process.env.DEV) console.log('merkleProof', merkleProof)
            withdraw = await store.getters.contractPartisia.methods.withdrawFromPastEpoch(withdraw_nonce, destination, amtWithdraw, epoch_nonce, merkleProof).send({
              from: metaMaskAccount,
              maxPriorityFeePerGas: null,
              maxFeePerGas: null,
            })
          } else {
            $q.notify({
              type: 'info',
              message: `withdraws are suspended until Epoch Nonce catches up with Partisia. This usually happens within 10 minutes. Please wait a little and come back to complete your withdraw.`,
            })
            return
          }

          withdrawEthereum.value = { transactionHash: withdraw.transactionHash, amount: new Big(amount).times(`1e-${blockchainInfo.value.DECIMALS}`).toString(), address: destination }
          console.log('withdraw', JSON.stringify(withdraw, null, 2))
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        } finally {
          isBroadcasting.value = false
        }
      },
    }
  },
}
</script>
<style lang="scss" scoped>
.title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 54px;

  text-align: center;
  color: #000000;
}
.subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #0b073f;
}
.claim-funds {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #9d9dc4;
}
.btn-bottom {
  width: 220px;
}
</style>
