<template>
  <div class="q-px-lg">
    <div class="partisia-title q-mt-sm">Withdraw from the Partisia Blockchain</div>
    <div v-if="isLoggedInMetamask" class="partisia-subtitle q-mt-sm">Send a transaction to the {{ blockchainName }} blockchain, indicating the address and amount you would like to withdraw.</div>

    <q-form @submit="onWithdrawPartisia" class="q-gutter-md">
      <q-input
        :disable="disable"
        class="q-pt-lg"
        bg-color="grey-3"
        outlined
        v-model="frmWithdrawAmount"
        input-class="input-text-large"
        bottom-slots
        :placeholder="`Ex: ${weiToEth(blockchainInfo.WITHDRAW_MINIMUM)}`"
        lazy-rules
        :rules="[(val) => isValidAmt(val)]"
      >
        <template v-slot:prepend>
          <q-avatar>
            <q-img v-if="blockchainId === 1" src="~assets/logo-eth.svg" width="20px" height="20px" no-spinner />
            <q-img v-else-if="blockchainId === 2" src="~assets/polygon-1068x1068.png" width="20px" height="20px" no-spinner />
            <!-- <img src="~assets/logo-eth.svg" /> -->
          </q-avatar>
        </template>

        <template v-slot:append>
          <div class="btn-append">
            <div class="fit row">
              <div class="col-8">
                {{ weiToEth(contractProps.withdrawMaximum) }}
              </div>
              <div class="col-4 text-left q-pl-sm q-pb-xs">Max</div>
              <div class="col-8">
                {{ weiToEth(blockchainInfo.WITHDRAW_MINIMUM) }}
              </div>
              <div class="col-4 text-left q-pl-sm">Min</div>
            </div>
          </div>
        </template>

        <template v-slot:hint> Amount </template>
      </q-input>
      <q-input
        :disable="disable"
        class="q-pt-lg"
        bg-color="grey-3"
        outlined
        v-model="frmWithdrawEthAddress"
        input-class="input-text-large"
        bottom-slots
        placeholder="Ex: 0xB807...7b94"
        lazy-rules
        :rules="[(val) => isValidAddress(val)]"
      >
        <template v-slot:hint> {{ blockchainName }} Address </template>
      </q-input>
      <div class="q-pa-sm fee-banner">
        <div>A 0.1% fee will be withheld to pay block validators.</div>
        <div>You will receive: {{ withdrawAmount || 0 }} {{ currency }}</div>
      </div>
      <div class="text-center q-py-lg">
        <login-metamask v-if="!isLoggedInMetamask" />
        <login-partisia v-else-if="!isLoggedInPartisia" />
        <q-btn v-else type="submit" class="btn-color full-width" text-color="white" label="Send" :loading="isWithdrawPartisia" no-caps />
      </div>
    </q-form>
  </div>
</template>

<script>
import { ref, computed } from 'vue'
import { BlockchainSelection, deriveWithdrawAmount, getBlockchainInfo } from 'src/boot/preload'
import { toChecksumAddress } from 'web3-utils'
import PartisiaSdk from 'partisia-sdk'
import { useStore } from 'vuex'
import assert from 'assert'
import { Big } from 'big.js'
import { useQuasar } from 'quasar'
import { partisiaCrypto } from 'partisia-crypto'
import LoginMetamask from 'src/components/LoginMetamask.vue'
import LoginPartisia from 'src/components/LoginPartisia.vue'

export default {
  props: {
    disable: {
      type: Boolean,
      default: true,
    },
  },
  components: { LoginMetamask, LoginPartisia },
  emits: [],
  setup(props, context) {
    const $q = useQuasar()
    const store = useStore()

    const frmWithdrawAmount = ref('')
    const frmWithdrawEthAddress = ref('')
    const isWithdrawPartisia = ref(false)

    const contractProps = computed(() => store.getters.partisiaProps)
    const sdkClient = computed(() => store.getters.sdkClient)
    const blockchainInfo = computed(() => getBlockchainInfo(store.getters.blockchainId))

    return {
      frmWithdrawAmount,
      frmWithdrawEthAddress,
      isWithdrawPartisia,
      sdkClient,
      contractProps,
      blockchainInfo,
      blockchainId: computed(() => store.getters.blockchainId),
      currency: computed(() => blockchainInfo.value.SYMBOL),
      isLoggedInPartisia: computed(() => store.getters.sdkClient !== null),
      isLoggedInMetamask: computed(() => store.getters.metamaskAccount !== null),
      blockchainName: computed(() => Object.keys(BlockchainSelection).find((k) => BlockchainSelection[k] === store.getters.blockchainId)),
      weiToEth: (wei) => {
        return new Big(wei || '0').times(`1e-${blockchainInfo.value.DECIMALS}`).toString()
      },
      isValidAddress: (val) => {
        try {
          // Validate Partisia Address
          toChecksumAddress(val)
          return true
        } catch (error) {
          return error.message
        }
      },
      isValidAmt: (val) => {
        try {
          // Validate ETH Amount
          assert(val && val.length > 0, 'Field is required')
          const amount = new Big(val).times(`1e${blockchainInfo.value.DECIMALS}`)
          assert(new Big(amount).lte(store.getters.partisiaProps.withdrawMaximum), 'withdraw amount too large')
          assert(new Big(blockchainInfo.value.WITHDRAW_MINIMUM).lte(amount), 'withdraw amount too small')

          return true
        } catch (error) {
          return error.message
        }
      },
      withdrawAmount: computed(() => {
        return deriveWithdrawAmount(frmWithdrawAmount.value, blockchainInfo.value.DECIMALS)
      }),
      onWithdrawPartisia: async () => {
        try {
          isWithdrawPartisia.value = true

          // const ethAddress = '0x9407278718290C2E0b996ed9c5F9Cc2b439c043D'
          // const amount = toWei('0.01')
          const ethAddress = toChecksumAddress(frmWithdrawEthAddress.value)
          const amount = new Big(frmWithdrawAmount.value).times(`1e${blockchainInfo.value.DECIMALS}`).toFixed(0)

          // build the bufPayload
          const abi = partisiaCrypto.abi_system.Payload_Byoc_Withdraw
          const bufPayload = partisiaCrypto.structs.serializeToBuffer(
            {
              invocationByte: 0,
              ethAddress,
              amount,
            },
            ...abi
          )
          if (process.env.DEV) console.log(bufPayload.toString('hex'))

          const sdk = new PartisiaSdk({ seed: sdkClient.value.seed, connection: sdkClient.value.connection })
          const res = await sdk.signMessage({
            contract: blockchainInfo.value.MPC_CONTRACT_WITHDRAW,
            payload: bufPayload.toString('hex'),
            payloadType: 'hex_payload',
            dontBroadcast: false,
          })
          await store.dispatch('setWithdrawParisiaHash', res.trxHash)

          if (process.env.DEV) console.log('res', JSON.stringify(res, null, 2))

          await store.dispatch('setWithdrawStep', 3)
          // pollerWithdraw(res.trxHash)
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        } finally {
          isWithdrawPartisia.value = false
        }
      },
    }
  },
}
</script>
<style lang="scss" scoped>
.partisia-title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 54px;

  text-align: center;
  color: #000000;
}
.partisia-subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  text-align: center;
  color: #0b073f;
}
.fee-banner {
  background: #ffffff;
  border: 2px solid #eef1f9;
  box-sizing: border-box;
  border-radius: 6px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #9d9dc4;
}
</style>
