// app global css in SCSS form
@font-face {
  font-family: Ubuntu;
  src: url(./fonts/ubuntu-v15-latin/ubuntu-v15-latin-regular.woff);
}
@font-face {
  font-family: Ubuntu;
  src: url(./fonts/ubuntu-v15-latin/ubuntu-v15-latin-700.woff);
  font-weight: bold;
}

@font-face {
  font-family: Montserrat;
  src: url(./fonts/montserrat-v23-latin/montserrat-v23-latin-regular.woff);
}

@font-face {
  font-family: 'Playfair Display';
  src: url(./fonts/playfair-display-v28-latin/playfair-display-v28-latin-regular.woff);
  font-weight: bold;
}

body {
  background: #e5e5e5;
  font-family: 'Montserrat';
}
.q-tab__label {
  font-weight: 700;
}
.box-deposit {
  width: 550px;
  min-height: 430px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 50px 80px -30px rgba(10, 0, 40, 0.12);
}
.btn-color {
  background: linear-gradient(84.59deg, #4da68b -0.29%, #4ddba8 99.71%);
  box-shadow: 0px 20px 12px -10px rgba(2, 2, 39, 0.08);
}
.btn-color-white {
  background: #f3f6fb;
}
.input-text-large {
  font-weight: 700;
  font-size: 22px;
  line-height: 124%;

  color: #0b073f;
}
.q-placeholder.input-text-large::placeholder {
  opacity: 0.3;
}

.btn-append {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;

  text-align: right;
  color: #9d9dc4;
}

.btn-bottom {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
}
.truncate-chip-labels > .q-chip {
  max-width: 140px;
}
