<template>
  <q-layout view="hHh lpR fFf" v-bind:class="{ 'mobile-body': isMobile }">
    <q-header bordered class="header" v-bind:class="{ 'header-mobile': isMobile, 'header-desktop': !isMobile }">
      <q-toolbar v-bind:class="{ 'q-px-xl': !isMobile }">
        <q-toolbar-title class="header full-width row no-wrap justify-between items-center" v-bind:class="{ 'header-mobile': isMobile }">
          <div class="row no-wrap items-center q-py-md">
            <q-img src="~assets/PB_Logo.png" :no-spinner="true" width="36px" height="36px" />
            <div class="q-px-md">Partisia<br />Blockchain</div>
            <!-- <q-separator vertical color="white" /> -->
            <!-- <div class="q-px-md">
              <q-chip class="chip-bridge"> Ethereum bridge </q-chip>
            </div> -->
          </div>
          <div v-if="!isMobile" style="">
            <q-btn class="btn-hermes" @click="onLink('https://medium.com/partisia-blockchain/hermes-collateralized-token-bridging-8200e4c0b24d')" flat outline>
              HERMES BRIDGE
              <q-icon right color="secondary" name="las la-info-circle" />
              <q-tooltip anchor="center right" self="center left" :offset="[10, 10]"> <strong>Learn more about how Partisia Blockchain's HERMES Bridge works</strong></q-tooltip>
            </q-btn>
          </div>
          <div class="row q-gutter-md">
            <div class="col-auto">
              <login-metamask :is-header="true" />
            </div>
            <div v-if="tab === 'withdraw' && isLoggedInMetamask" class="col-auto">
              <login-partisia :is-header="true" />
            </div>
          </div>
          <!-- <q-select @update:model-value="onBlockchain" outlined options-selected-class="teal" bg-color="teal" v-model="valBlockchain" :options="optsBlockchain" label="Blockchain"> </q-select> -->
        </q-toolbar-title>
      </q-toolbar>
    </q-header>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref, computed } from 'vue'
import { useStore } from 'vuex'
import { openURL } from 'quasar'
import LoginMetamask from 'src/components/LoginMetamask.vue'
import LoginPartisia from 'src/components/LoginPartisia.vue'

export default defineComponent({
  name: 'MainLayout',

  components: {
    LoginMetamask,
    LoginPartisia,
  },

  setup() {
    const store = useStore()
    const optsBlockchain = [
      {
        label: 'Ethereum',
        value: 1,
      },
      {
        label: 'Polygon',
        value: 2,
      },
    ]
    /* THIS IS THE DEFAULT FOR BLOCKCHAIN */
    // const valBlockchain = ref(optsBlockchain[1])
    // store.dispatch('onBlockchain', valBlockchain.value.value)

    return {
      tab: computed(() => store.getters.tab),
      isLoggedInMetamask: computed(() => store.getters.metamaskAccount !== null),
      optsBlockchain,
      // valBlockchain,
      isMobile: false,
      onLink(url) {
        openURL(url)
      },
      onBlockchain: ({ value }) => {
        store.dispatch('onBlockchain', value)
      },
      blockchainId: computed(() => store.getters.blockchainId),
    }
  },
})
</script>
<style lang="scss" scoped>
.header {
  background: #000029;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.header-desktop {
  height: 79px;
}
.chip-bridge {
  background: linear-gradient(88.62deg, #0000a3 0%, #2f2ff2 100%);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
}
.btn-hermes {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.06em;
}
</style>
